*{
    font-family: monospace;
    background-color: aqua;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    display: inline-block;
}

.board-row {
    display: flex;
}

.board-cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* Container for each row of the board */
.pieces-row {
    display: flex;  
}

/* Container for each cell on the board */
.pieces-cell {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
}

/* Styles for the piece in the cell */
.piece {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-button{
    margin-left: 40px;
    margin-top: 20px;
    outline: none;
}

